@page "/select/{partType:int}/{currentPart:int?}"
@inherits PartSelectorBase

@if (loaded)
{
    <select class="full-size" @bind="PartType">
        <option value="0">Select classification ...</option>
        @foreach(var part in AvailableParts)
        {
            <option value="(int)@part.Type">@part.Name - @part.Cost</option> 
        }
    </select>
}


<select>
   
</select>
<div>Selected Item (part display?)</div>
<div>Equipped Item (part display?)</div>
<button>Equip New Item</button>