@page "/select"
@page "/select/{componentType:int}"
@inherits PartSelectorBase

@*<InputSelect class="full-size" @bind-value="ComponentType">
    <option value="">Select classification ...</option>
    @foreach(var part in AvailableParts)
    {
        <option value="Defense">Defense</option>
    }
</InputSelect>
*@