<div class="">
    <div>
        <PartSelector Size="SelectorSizes.Large" Type="Core"></PartSelector>
        <PartSelector Size="SelectorSizes.Large" Type="Chassis"></PartSelector>
    </div>
    <div>
        <PartSelector Size="SelectorSizes.Large" Type="Left"></PartSelector>
        <PartSelector Size="SelectorSizes.Large" Type="Right"></PartSelector>
    </div>
    <div>
        <PartSelector Size="SelectorSizes.Large" Type="Back"></PartSelector>
        <div>
            <PartSelector Size="SelectorSizes.Small" Type="Pilot"></PartSelector>
            <PartSelector Size="SelectorSizes.Small" Type="Other"></PartSelector>
        </div>
    </div>
</div>