@inherits EmberListBuilder.Pages.Components.PartDisplayBase

    @if (CurrentPart == null)
    {
        <NavLink href=@($"/select/") class=@($"partDisplay {@GetPartSelectorSize()}")>
            <div>No Part Selected</div>

        </NavLink>
    }
    else
    {
        <NavLink href=@($"/select/{(int)@CurrentPart.Type}") class=@($"partDisplay {@GetPartSelectorSize()}")>
            <div class="">
                <div>@CurrentPart.Name</div>
                <div>@CurrentPart.Cost</div>
                <img src="@CurrentPart.ImageUrl">
            </div>
        </NavLink>
    }
